
<div class="container">
    <header>
        <h1 class="title">
            C4INAN <br> GAME
        </h1>
    </header>
    <h2 class="form-title">
        LOGIN
    </h2>
    <img src="../img/pos1.png" class="login-toy">
    {{#if error}}
        <div class="msg error">
            {{error}}
        </div>
    {{else}}
    {{/if}}
    {{#if error_msg}}
        <div class="msg error">
            {{error_msg}}
        </div>
    {{else}}
    {{/if}}
    <form action="/login" class="form-home" method="POST">
        <div class="form-pack">
            <label class="label-form" for="name">Nome:</label><br>
            <input class="input-form" type="text" name="name">
        </div>
        <div class="form-pack">
            <label class="label-form" for="name">Senha:</label><br>
            <input class="input-form" type="password" name="password">
        </div>
        <p class="simple-phrase">
            Você não é um estelar? <br> Faça seu registro <a href="">aqui!</a>
        </p>
        <button type="submit" class="button medium">Confirmar</button>
    </form>
</div>