*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    font: normal 16pt lilita one;
}

.title{
    padding: 10px 0px 10px 0px;
    color: white;
    text-align: left;
    margin-left: 10px;
}

.information{
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 30px;
}

.gameover{
    padding: 50px 10px 50px 10px;
}

.gear{
    height: 50px;
    width: 50px;
}

.score{
    width: 150px;
    margin: auto;
    border-left: solid 5px black;
    border-right: solid 5px black;
    transition: 0.5s;
}

.game-image{

    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.single-title{
    font-size: 16pt;
    text-align: center;
    margin: 3px;
}

.button{
    border: none;
    height: 50px;
    width: 140px;
    font: normal 15pt lilita one;
    margin: 4px;
    transition: 1s;
}

@keyframes message{
    0% {
        margin-left: 20px;
        margin-right: 20px;
    }
    100% {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.message{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 200px;
    background-color: white;
    height: 200px;
    color: black;
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;

    animation: message 2s;
}

.black-window{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('./img/stars.jpg');
    opacity: 0.3;
}

.content-config{
    font-size: 15pt;
    text-align: center;
}

.c4inan-pos1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    height: 290px;
    width: 180px;
    animation: toy 2s;
}

.button:disabled{
    opacity: 0.5;
}

.button:active{
    background-color: rgb(29, 29, 29);
}

.hight{
    background-color: rgb(54, 54, 54);
    color: white;
}

.medium{
    background-color: rgb(93, 93, 93);
    color: white;
}

.low{
    background-color: rgb(151, 151, 151);
    color: white;
}

.gold{
    background-color: #FFD700;
    color: white;
}

.gold:active{
    background-color: rgb(151, 129, 0);
}

.continue:disabled{
    opacity: 0.4;
}

.information-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 200px;
    background-color: white;
    height: 200px;
    color: black;
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    animation: message 2s;
}

.footer{
    position: absolute;
    font: normal 12pt lilita one;
    text-align: center;
    font-style: italic;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.game-home{
    grid-row: 2/3;
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 15px;
    width: auto;
    margin: auto;
    text-align: center;
}

.coins{
    position: absolute;
    text-align: left;
    border-left: solid 5px #FFD700;
    padding-left: 10px;
    color: #FFD700;
    margin-top: 15px;
    left: 0;
    transition: 0.5s;
}

.hightScore{
    position: absolute;
    text-align: right;
    border-right: solid 5px white;
    padding-right: 10px;
    margin-top: 15px;
    right: 0;
    transition: 0.5s;
}

.backGround-bronze{
    color: white;
    font: normal 16pt lilita one;
    background: linear-gradient(-60deg, #905923, #a46628, #b9722d, #cd7f32, #d28c47);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
}
.backGround-blue{
    color: white;
    font: normal 16pt lilita one;
    background: linear-gradient(-60deg, #2E77BB, #1D8ECE, #27AEE3, #9BD4F5, #6CC4EE);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
}
.backGround-purple{
    color: white;
    font: normal 16pt lilita one;
    background: linear-gradient(-60deg, #4F2671, #7D44AA, #A971D6, #DAABF7, #E5BDFF);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
}
.backGround-red{
    color: white;
    font: normal 16pt lilita one;
    background: linear-gradient(-60deg, #FFD300, #FF6C33, #D80044, #AD054F, #711C58);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
}

.black-button{
    text-align: center;
    border: none;
    background-color: black;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 20px;
}

.bronze-button{
    text-align: center;
    border: none;
    background: linear-gradient(-60deg, #905923, #a46628, #b9722d, #cd7f32, #d28c47);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 20px;
}

.bronze-button:disabled{
    opacity: 0.4;
}

.blue-button{
    text-align: center;
    border: none;
    background: linear-gradient(-60deg, #2E77BB, #1D8ECE, #27AEE3, #9BD4F5, #6CC4EE);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 20px
}

.blue-button:disabled{
    opacity: 0.4;
}

.purple-button{
    text-align: center;
    border: none;
    background: linear-gradient(-60deg, #4F2671, #7D44AA, #A971D6, #DAABF7, #E5BDFF);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 20px
}

.purple-button:disabled{
    opacity: 0.4;
}

.red-button{
    text-align: center;
    border: none;
    background: linear-gradient(-60deg, #FFD300, #FF6C33, #D80044, #FF6C33, #FFD300);
    background-size: 600%, 400%;
    animation: animation-moviment 5s ease-in-out infinite;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 20px
}

.red-button:disabled{
    opacity: 0.4;
}

@keyframes animation-moviment{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0 50%
    }
}

@keyframes toy{
    0% {
        margin-top: 80px;
    }
    100% {
        margin-top: 40px;
    }
}